{% extends "admin-home.html" %}
{% block content %}
    <h2>Display Tasks</h2>
    <form id="userDataForm" action="{{url_for('display_tasks')}}" method="post">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 form-field-container">
                    <label>Select Mentor</label>
                    <select class="form-field" name="mentor" required>
                        <option>Select Mentor</option>
                        {% for mentor in mentors %}
                            <option>{{ mentor }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-md-5 form-field-container">
                    <label>Select Intern</label>
                    <select class="form-field" name="intern" required>
                        <option>Select Intern</option>
                        {% for intern in interns %}
                            <option>{{ intern }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="form-btn mt-3">Submit</button>
        </div>
    </form>
{% endblock content %}

{% block dashboard %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" action="{{ url_for('do_admin_choice') }}">
                    <div class="form-group d-flex flex-column">
                        <button class="btn btn-outline-info w-100 m-1" name="admin-choice" type="submit" value="createIntern">Create Intern Account</button>
                        <button class="btn btn-outline-info w-100 m-1" name="admin-choice" type="submit" value="createMentor">Create Mentor Account</button>
                        <!--
                        <button class="btn btn-outline-secondary w-100 m-1" name="admin-choice" type="submit" value="tasksByMentor">Display Tasks by Mentor</button>
                        -->
                        <button class="btn btn-outline-secondary w-100 m-1" name="admin-choice" type="submit" value="displayMap">View Mapping</button>
                        <button class="btn btn-outline-secondary w-100 m-1" name="admin-choice" type="submit" value="displayTasks">Display Tasks</button>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock dashboard %}

{% block tasks %}
    {% if request.method == 'POST' %}
        {% if tasks %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <table border="1">
                            <thead>
                                <tr>
                                    {% for eachCol in colNames %}
                                        <th class="col-2 text-center">{{ eachCol }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks[1] %}
                                <tr>
                                    {% for eachCol in colNames %}
                                        <td class="col-2 text-center">{{ task[eachCol] }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock tasks %}