{% extends "index.html" %}
{% block content %}
    {% for post in posts %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="post-card shadow mt-3 mb-3 p-3">
                        <h2><a href="{{ url_for('post', post_id=post.post_id) }}" target="_blank">{{ post.get('title') }}</a></h2>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex align-items-center m-2">
                                <a href="{{ url_for('user_posts', author_id=post.author_id) }}" target="_blank"><p class="author ml-3">{{ post.get('posted_by') }}</p></a>
                            </div>
                            <p class="time align-self-center">{{ post.get('posted_at').strftime("%d %b %Y %I:%M %p") }}</p>
                        </div>
                        {% if post.author_id == current_user_id %}
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-info m-1" href="{{ url_for('update_post', post_id=post.post_id) }}">Edit</a>
                                <button class="btn btn-warning btn-sm m-1" type="button" data-toggle="modal" data-target="#deleteModal{{ post.get('post_id') }}">Delete</button>

                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal{{ post.get('post_id') }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Delete Post ?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <form action="{{ url_for('delete_post', post_id=post.get('post_id')) }}" method="post">
                                            <input type="submit" class="btn btn-danger" value="Delete">
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        {% endif %}
                        <p class="post-content">{{ post.get('content') }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
