{% extends "mentor-index.html" %}
{% block content %}
    {% for post in posts %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="post-card shadow mt-3 mb-3 p-3">
                        <h2><a href="{{ url_for('post', post_id=post.post_id) }}" target="_blank">{{ post.get('title') }}</a></h2>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex align-items-center m-2">
                                <a href="{{ url_for('user_posts', author_id=post.author_id) }}" target="_blank"><p class="author ml-3">{{ post.get('posted_by') }}</p></a>
                            </div>
                            <p class="time align-self-center">{{ post.get('posted_at').strftime("%d %b %Y %I:%M %p") }}</p>
                        </div>
                        <p class="post-content">{{ post.get('content') }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" action="{{ url_for('do_mentor_choice') }}">
                        <div class="form-group d-flex flex-column">
                            <button class="btn btn-outline-info w-100 m-1" name="mentor-choice" type="submit" value="assignTask">Assign Task</button>
                            <button class="btn btn-outline-info w-100 m-1" name="mentor-choice" type="submit" value="viewInternPosts">View Intern Posts</button>
                            <button class="btn btn-outline-secondary w-100 m-1" name="mentor-choice" type="submit" value="tasksByMentor">Display Assigned Tasks</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock dashboard %}

{% block tasks %}
{% endblock tasks %}
