{% extends "admin-index.html" %}
{% block content %}
    <h1>Update Intern Account</h1>
    <!-- Admin choice for Updating Intern Account -->
    <div id="adminChoice">
        <div class="d-flex flex-row mt-5">
            <button class="btn btn-primary mr-3" id="addMentorChoiceBtn">Add Mentor</button>
            <button class="btn btn-warning mr-3" id="deleteMentorChoiceBtn">Delete Mentor</button>
            <button class="btn btn-danger mr-3" id="deleteInternChoiceBtn">Delete Intern Account</button>
        </div>
    </div>
    <div id="operationStatusContainer">
        <p id="statusMsg"></p>
    </div>
    <div  class="d-none" id="addMentorFormContainer">
        <form id="addMentorForm">
            <h3 class="mt-3">Your are Assigning Intern to Mentor</h3>
            <div class="form-field-container mt-3">
                <label>Select Intern</label>
                <select class="form-field" id="selectedInternForAddMentor" name="intern" required>
                    <option>Select Intern</option>
                </select>
            </div>
            <div class="form-field-container mt-3">
                <label>Select Mentor</label>
                <select class="form-field" id="selectedMentorForAddMentor" name="mentor" required>
                    <option>Select Mentor</option>
                </select>
            </div>
            <button id="assignMentor" class="form-btn mt-3">Assign Mentor</button>
    </form>
    </div>

    <div  class="d-none" id="formContainer">
        <form>

        </form>
    </div>
    <!--

    <div class="d-none" id="addMentorContainer">
        <form id="addMentorForm">
            <div class="form-field-container">
                <label>Select Intern</label>
                <select class="form-field" id="addMentorSelectedIntern" name="intern" required>
                    <option>Select Intern</option>
                    {% for intern in interns %}
                        <option>{{ intern }}</option>
                    {% endfor %}
                </select>
                <p id="addMentorSelectedInternErrorMsg"></p>
            </div>
        </form>
    </div>

    <div class="d-none">
        <form id="internAccountUpdateForm">
        <div class="form-field-container">
            <label>Select Intern</label>
            <select class="form-field" id="selectedIntern" name="intern" required>
                <option>Select Intern</option>
                {% for intern in interns %}
                    <option>{{ intern }}</option>
                {% endfor %}
            </select>
            <p id="selectInternErrorMsg"></p>
        </div>

        <button id="checkBtn">check</button>
        <button type="submit" class="form-btn">Submit</button>
        </form>
    </div>
-->
{% endblock content %}

{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" action="{{ url_for('do_admin_choice') }}">
                        <div class="form-group d-flex flex-column">
                            <button class="btn btn-outline-info w-100 m-1" name="admin-choice" type="submit" value="createIntern">Create Intern Account</button>
                            <button class="btn btn-outline-info w-100 m-1" name="admin-choice" type="submit" value="createMentor">Create Mentor Account</button>
                            <!--
                            <button class="btn btn-outline-secondary w-100 m-1" name="admin-choice" type="submit" value="tasksByMentor">Display Tasks by Mentor</button>
                            -->
                            <button class="btn btn-outline-secondary w-100 m-1" name="admin-choice" type="submit" value="displayMap">View Mapping</button>
                            <button class="btn btn-outline-secondary w-100 m-1" name="admin-choice" type="submit" value="displayTasks">Display Tasks</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock dashboard %}

{% block tasks %}
{% endblock tasks %}

{% block scripts %}
{% endblock scripts %}